.container {
    width: 960px;
}
.first{
    position: relative;
    top: 50px;
    left: 100px;
    margin-bottom: 30px;
}
.second{
    position:absolute;
    top: 15px;
    right: 10px;
}
.third{
    position: absolute;
    bottom: 0;
    float: left;

}
.top a{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.top-text{
    margin: 10px;
    padding: 10px;
}