.first{
    background-color: yellow;
    width: 400px;
    height: 500px;
    max-width: 300px;
    overflow: hidden;
}
.second{
    background-color: red;
    width: 600px;
    height: 300px;
    max-height: 200px;
    
}

.firstParagraph{
    background-color: yellow;
    border: 5px dashed red;
    /*padding: 50px;
    margin: 50px;*/
    width: 300px;
    margin: 20px;
    padding: 0;
    display: inline-block;
}

.secondParagraph{
    background-color: yellow;
    border: 5px solid green;
    /*padding-top: 50px;
    margin:200px auto;*/
    width: 400px;
    margin: 20px;
    padding: 0;
    display: inline-block;
}

.thirdParagraph{
    background-color: yellow;
    border: 5px dotted red; 
    /*padding: 50px;
    margin-left: 100px;*/
    width: 200px;
    margin: 20px;
    padding: 0;
    display: inline-block;
}

.marina{
    width: 960px;
    margin: 480px0 auto;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: indianred;
    color: rebeccapurple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: -21px 21px 18px 7px rgba(0,0,0,0.66);
    -webkit-box-shadow: -21px 21px 18px 7px rgba(0,0,0,0.66);
    -moz-box-shadow: -21px 21px 18px 7px rgba(0,0,0,0.66);
    border-radius: 10px;;
}